<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1E3g7S5dGg72bc4i13f4yOe7eF9uCua8</string>
	<key>GCM_SENDER_ID</key>
	<string>497301989125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.rieul.WelfareCollect</string>
	<key>PROJECT_ID</key>
	<string>welfarecollect</string>
	<key>STORAGE_BUCKET</key>
	<string>welfarecollect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497301989125:ios:df2fe7e332aa7afd1db96c</string>
</dict>
</plist>